@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #060D26;

}

a {
    text-decoration: none;
    color: bisque;
    font-weight: 900;
    text-shadow: 0.5px 0.5px 1px #CF7EE8;
}

.wrapper {
    margin: 60px 40px;
    font-family: 'Roboto Condensed', sans-serif;    
    color: bisque;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 2px 2px 20px #CF7EE8;
    height: 400px;

		&__image {
            width: 50%;

			&_main {
                min-height: 400px;
                max-height: 1000px;
                max-width: 100%;
			}
		}

		&__main {
            width: 50%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

		}

		&__main-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

			&_h1 {
                display: block;
                align-self: center;
                margin-bottom: 8px;
                text-shadow: 1px 1px 2px #CF7EE8;


			}

			&_p {
                display: block;
                margin-bottom: 16px;

			}
		}

		&__main-links {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
		}
}
.link_photographer {
    font-size: 12px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
		&__link {
            margin-right: 20px;

            &_img {
                width: 40px;
                height: 40px;
                cursor: pointer;

                &:hover {
                    height: 44px;
                }
            }
		}
}
.about {
    font-weight: 700;
    font-size: 20px;

    

    &__wrapper {
        background-color: #3A2B58;
        width: 150px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 10px #CF7EE8;
        border-radius: 60px;
        cursor: pointer;

        &:hover {
            box-shadow: 0.5px 0.5px 5px #CF7EE8;
    
        }

    }
}

.animation {
    width: 100%;
    height: 2px;
    background-color: rgba( 195,0,255,0.5 );
    margin-bottom: 20px;

    &__runner {
        width: 40%;
        background-image: linear-gradient(to right, rgba(195, 0, 255, 0.1) 5%, rgba( 195,0,255,0.2 ) 10%, rgba( 195,0,255,0.3 ) 15%, rgba( 195,0,255,0.4 ) 20%, rgba(195, 0, 255, 0.5) 25%, rgba( 195,0,255,0.6 ) 30%, rgba( 195,0,255,0.7 ) 35%, rgba( 195,0,255,0.8 ) 40%, rgba( 195,0,255,0.9 ) 45%, rgba( 195,0,255,1 ) 50%, rgba(195, 0, 255, 0.9) 55%, rgba( 195,0,255, 0.8 ) 60%, rgba( 195,0,255,0.7 ) 65%, rgba( 195,0,255,0.6 ) 70%, rgba(195, 0, 255, 0.5) 75%, rgba( 195,0,255,0.4 ) 80%, rgba( 195,0,255,0.3 ) 85%, rgba( 195,0,255,0.2 ) 90%, rgba( 195,0,255,0.1 ) 95%, rgba( 195,0,255,0.05) 100%);
        height: 2px;
        animation: move 1.5s linear 0s infinite alternate ;
    
    
    }
    
}


@keyframes move { from { margin-left: 0%; } to { margin-left:60%; }  }

